.tour {
    padding: 20px;
    margin: 20px;
    width: 500px;
    height:100%;
    font-size: 12px;
    background-color: #c7c7c7;
    border-radius: 20px;
}

.tourPic {
    width: 100%;
    height: 350px;
    border-radius: 9px;
}

.tourInfo {
    text-align: center;
    color: white;
}